{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('products_ascending') }}" class="btn btn-default">Back to Todo List</a>
    <hr/>
    <h2 class="page-header">{{ products.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">ID: {{ products.id }}</li>
        <li class="list-group-item">Description: {{ products.description }}</li>
        <li class="list-group-item">Price: {{ products.price }}$</li>
    </ul>
{% endblock %}
