{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group form-control-lg">
        <label for="id">CATEGORY ID:</label>
        {{ form_widget(form.id,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Category Id'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.id) }}
        </div>
    </div>
    <div class="form-group form-control-lg">
        <label for="name">NAME:</label>
        {{ form_widget(form.name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Name'
            }
        }) }}
        <div class="invalid-feedback">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" name="create_category" value="Create" class="btn btn-primary"/>
        <a href="{{ path('category_ascending') }}" class="btn btn-danger">Cancel</a>
    </div>

    {{ form_end(form) }}
{% endblock %}