{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    <div class="form-group form-control-lg" >
        <label class="h4" for="id">ID:</label>
        {{ form_widget(form.id,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Id'
            }
        }) }}
    </div>
    <div class="form-group form-control-lg">
        <label class="h4"for="name">NAME:</label>
        {{ form_widget(form.name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Name'
            }
        }) }}
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" name="edit_products" value="Edit" class="btn btn-primary"/>
        <a href="{{ path('category_ascending') }}" class="btn btn-danger">Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock %}